<div class="container">
    <div class="row mt-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <h3>Sign In</h3>
                <tr>
                    <td>Email id: </td>
                    <td><input [(ngModel)]="emailId" type="email" class="form-control" name="emailId" id=""></td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td><input [(ngModel)]="pwd" type="password" class="form-control mt-2" name="pwd" id=""></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button (click)="signIn()" class="btn btn-primary mt-3">Sign-In</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>
