<div class="container">
    <div class="row mt-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <h3>Sign Up</h3>
                <tr>
                    <td>Name: </td>
                    <td><input type="text" class="form-control" name="name" [(ngModel)]="name" id=""></td>
                </tr>
                <tr>
                    <td>Phone no: </td>
                    <td><input type="number" class="form-control" name="phno" [(ngModel)]="phno" id=""></td>
                </tr>
                <tr>
                    <td>Email id: </td>
                    <td><input type="email" class="form-control" name="" id=""></td>
                </tr>
                <tr>
                    <td>Enter password: </td>
                    <td><input type="password" class="form-control" name="" id=""></td>
                </tr>
                <tr>
                    <td>Confirm password :</td>
                    <td><input type="password" class="form-control" name="" id=""></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button (click)="signUp()" class="btn btn-success mt-3">Sign-Up</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>
